@media screen and (max-width: 996px) {
    .nav-container, .manubar, .manu-list, .play-section{
        flex-direction: column;
        margin-top: 10px;
    }
    .logo{
        justify-content: center;
        margin-top: 10px;
    }

    .manu-list>li{
        margin-top: 10px;
    }

    .manubar>button{
        width: 100%;
        margin-top: 10px;
        padding: 10px 10px;
    }



    .game-content{
        padding: 10px 0px;
    }

    .parent-image{
        text-align: center;


    }

    .child-image {
        position: absolute;
        width: 100px;
        top:270px;
        right:550px ;
    }

    .option {
        width: 160px;
    }
    
    .option-img>img{
        width: 30px;
    }
    
    .option-name>p {
        font-size: 15px;
        font-weight: 600;
    }


}

@media screen and (max-width: 576px) {
    .banner{
        flex-direction: column;
        margin: 10px auto;
    }

    .banner-content{
        background-image: none;
        padding: 10px 10px;

    }

    .instant{
        padding: 5px 10px;
    }

    .parent-image>img{
        width: 280px;
    }

    .child-image {
        position: absolute;
        top:220px;
        right:300px ;
    }

    .child-image>img{
        width: 80px;
    }

    /* ****************** */
    .option {

        width: 150px;
    }
    
    .option-img>img{
        width: 30px;
    }
    
    .option-name>p {
        font-size: 14px;
        font-weight: 400;
    }
}