@media screen and (max-width: 576px) {
 .manu-list, .manubar, .nav-container, .banner {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 10px;
    }

.manu-list>li, button{
    margin-top: 15px;
}

.logo{
    width: 100%;
    justify-content: center;
}  


}