:root {
    --primary-color: #FF42A5;
    --secondary-color: #8758F1;
}

.game-cart:hover{
    border: 1px solid var(--primary-color);
}

.option:hover{
    
    border: 1px solid var(--primary-color);
}

.option-name>p:hover{
    color: var(--primary-color);
}