@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
}

:root {
    --primary-color: #FF42A5;
    --secondary-color: #8758F1;
}

.nav-container {
    padding: 10px 20px;
    margin: 0 auto 30px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.logo {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 10px;
}

.logo-img>img {
    width: 50px;
}

.logo-name h1 {
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 700;
}

.logo-part {
    color: black;
    font-size: 2rem;
    font-weight: 700;
}



.manubar {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.manu-list {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.manu-list>li {
    transition: .3s;
}

.manu-list>li:hover {
    color: var(--primary-color);
}

.manubar>button {
    width: 50%;
    padding: 5px 15px;
}


.fa-youtube {
    color: red;
}

/* navber section style end */

/* banner section style start */
.banner {
    display: flex;
    padding: 20px 20px;
}

.banner-content {
    padding: 20px 10px;
    width: 100%;
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-position: left;
}

.banner-content>h4 {
    color: #0B0223;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

.banner-content>h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}

.game-feature {
    display: flex;
    justify-content: center;
}

.feature-icons>i {
    display: block;
    padding: 2px 5px 0;
}

.buttons {
    text-align: center;
    margin: 20px auto;
    padding: 10px 15px;
}

.primary-btn {
    color: #FFF;
    font-weight: 500;
    padding: 15px 30px;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    background: var(--primary-color);
    border: none;
}

.blue-btn {
    color: #FFF;
    font-weight: 500;
    padding: 15px 25px;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    background: var(--secondary-color);
    border: none;
}

.banner-img>img {
    width: 100%;
}

/* banner section style end */

/*  */

/*  */

/* online game section style start */

.online-game-section {
    text-align: center;
    margin: 20px 15px;
}

.online-game-section>h3 {
    color: #0B0223;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}

.heading-part {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
    font-weight: 700;
}

.game-description {
    color: #534C64;
    text-align: center;
    font-weight: 400;
}

.cart-container {
    margin: 24px 15px;
    display: flex;
    flex-wrap: wrap;
}

.game-cart {
    padding: 10px 10px;
    margin: 20px auto;
}

.cart-img {
    width: 300px;
    height: 400px;
}

.cart-description {
    width: 300px;
    text-align: center;
    color: #534C64;
    font-weight: 500;
}

/*  online game section style end */

/* play instant section style start */

.play-section {
    width: 100%;
    display: flex;
    align-items: center;
}

.game-content {
    width: 100%;
    align-items: center;
    padding: 20px 60px;
}

.game-heading {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}

.instant {
    text-align: center;
}

.game-img {
    width: 100%;
}

.parent-image {
    position: relative;
}

.parent-image>img {
    width: 400px;
}

.child-image {
    position: absolute;
    width: 100px;
    top: 300px;
    right: 600px;
}

.child-image>img {
    width: 150px;
}

/* play instant section style end */



.game-manu {
    margin: 100px auto;
    padding: 20px 40px;
}

.manu-options{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.option {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 250px;
    border-radius: 50px;
    background: #FFF;
    box-shadow: 2px 2px 8px #a3a2a288;
}


.option-img>img{
    width: 50px;
}

.option-name>p {
    color: #0B0223;
    font-weight: 600;
}